{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        clj-figlet/clj-figlet {:mvn/version "0.1.1"}
        com.draines/postal {:mvn/version "2.0.5"}}
 :aliases
 {:run-m {:main-opts ["-m" "antoine247.randomf"]}
  :run-x {:ns-default antoine247.randomf
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.3"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
